.navbar {
    height: 4rem;
}
.container {
    margin: 0px 0px 0px 0px;
}
.bmiStatus{
    color: red;
}
.cont{
    margin: 2rem;
    color: black;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: rgb(232, 232, 232);
    padding: 0rem 2rem 0rem;
}
